@model Cw916153.Models.Comment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="PostId" value="@Model.PostId" />
            <input type="hidden" name="CreatedDateTime" value="@Model.CreatedDateTime" />
            <input type="hidden" name="User" value="@Model.User" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsAnon" /> @Html.DisplayNameFor(model => model.IsAnon)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
    @Html.ActionLink("Back to Post", "Details", "Posts", new { id = Model.PostId }, null)
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
